.container {
    border: solid 5px rgb(18, 206, 12);
    width: 850px;
    margin: 50px auto;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
    /* gap: 50px 5px; */
}

.child1{
 grid-column: 1/5;
}
.child2 {
    grid-column: 2/3;
}

.child3 {
    grid-row: 2/4;

}


.child {
    color: red;
    background-color: rgb(28, 27, 27);
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    margin: 5px ;
    padding: 40px;
    
}

